<div class="container">
    <div class="row">
        <div class="col">
            <div id="status">
                <div id="indicator" class="{{connectionStatus$|async}}"></div>
                <div>Connection status: <span id="status-label">{{connectionStatus$|async}}</span></div>
                <div>
                    <button class="btn" (click)="rxStompService.activate()">Activate</button>
                    <button class="btn" (click)="rxStompService.deactivate()">DeActivate</button>
                    <button class="btn" (click)="rxStompService.stompClient.forceDisconnect()">Simulate Error</button>
                    <h2>Error message</h2>
                    {{errorMessage}}
                </div>
            </div>
        </div>
        <div class="col">
            <div id="enquete">
                <h2>Enquete:</h2>
            </div>
            <div>
                <fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource ></fusioncharts>
            </div>
            <div class="stemmenConfig">
                <label>Chart type</label>
                <mat-form-field>
                    <select matNativeControl required #t (change)="onStemmenConfig(t.value)">
                        <option>select chart type</option>
                        <option *ngFor="let chartType of chartTypes" [value]="chartType.index">{{chartType.name}}</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="stemmenButtons">
                <button class="btn btn-primary" *ngFor="let columnData of dataSource.data; let i = index" (click)="onStemmen(i)">{{columnData.label}}</button>
                <!-- <button class="btn btn-primary" (click)="onStemmen(1)">Beetje</button>
                <button class="btn btn-primary" (click)="onStemmen(2)">Nee</button> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="messages">
                <button class="btn btn-primary" (click)="onSendMessage()">Send Test Message</button>
                <h2>Received messages</h2>
                <ol>
                    <!-- we will use Angular binding to populate list of messages -->
                    <li class="message" *ngFor="let message of receivedMessages">{{message}}</li>
                </ol>
            </div>
        </div>
        <div class="col">
            <div id="news">
                <h2>News messages</h2>
                <ol>
                    <li class="news" *ngFor="let newsMessage of this.newsData">{{newsMessage}}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="count">
                <button class="btn btn-primary" (click)="onCount(true)">Up</button>
                <button class="btn btn-primary" (click)="onCount(false)">Down</button>
                <h2>Counter</h2>
                <fusioncharts
  width="450"
  height="250"
  type="AngularGauge"
  [dataSource]="speedSource"
>
</fusioncharts>
            </div>
        </div>
    </div>
</div>