<mat-tab-group>
    <mat-tab label="Status">
        <div id="indicator" class="{{connectionStatus$|async}}"></div>
        <div>Connection status: <span id="status-label">{{connectionStatus$|async}}</span></div>
        <div>
            <button class="btn" (click)="rxStompService.activate()">Activate</button>
            <button class="btn" (click)="rxStompService.deactivate()">DeActivate</button>
            <button class="btn" (click)="rxStompService.stompClient.forceDisconnect()">Simulate Error</button>
            <h2>Error message</h2>
            {{errorMessage}}
        </div>
    </mat-tab>
    <mat-tab label="User">
        <app-user></app-user>
        <h2>Logged in users:</h2>
        <ul>
            <li class="users" *ngFor="let userId of this.loggedInUsers">{{userId}}</li>
        </ul>

    </mat-tab>
    <mat-tab label="Stemmen">
        <app-stemmen></app-stemmen>
    </mat-tab>
    <mat-tab label="Messages">
        <button class="btn btn-primary" (click)="onSendMessage()">Send Test Message</button>
        <h2>Received messages</h2>
        <ol>
            <!-- we will use Angular binding to populate list of messages -->
            <li class="message" *ngFor="let message of receivedMessages">{{message}}</li>
        </ol>
    </mat-tab>
    <mat-tab label="Nieuws">
        <app-news></app-news>
    </mat-tab>
    <mat-tab label="Snelheid">
        <button class="btn btn-primary" (click)="onCount(true)">Up</button>
        <button class="btn btn-primary" (click)="onCount(false)">Down</button>
        <h2>Counter</h2>
        <fusioncharts width="450" height="250" type="AngularGauge" [dataSource]="speedSource">
        </fusioncharts>
    </mat-tab>