<div class="container">
    <div class="row">
        <div class="col">
            <div id="status">
                <div>Connection status: <span id="status-label">{{connectionStatus$|async}}</span></div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            .......................................
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="messages">
                <h2>Received messages</h2>
                <input >
                <button >Send!</button>
		................................................
            </div>
        </div>
    </div>
</div>
